
@tailwind base;

@tailwind components;

@tailwind utilities;

.link-box{
    @apply flex justify-center items-center
}

.link{
    @apply px-4 hover:text-gray-300 transition duration-200;
}